[data-showing-answer] .correct {
	color: green;
	font-weight: bold;
}

.answer-info {
	visibility: hidden;
}

[data-showing-answer] .answer-info {
	visibility: visible;
}

.show-answer {
	position: absolute;
	bottom: 5em;
}