<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>{{ .Site.Title }}</title>
		<link rel="stylesheet" href="slidy/slidy.css" type="text/css"/>
		<link rel="stylesheet" href="quizcast/quizcast.css" type="text/css"/>
	</head>
	<body>
		{{- range where .Pages.ByWeight "Type" "intro" -}}
			{{- partial "intermission.html" . -}}
		{{- end -}}
		{{- $autoNumber := 0 -}}
		{{- range where .Pages.ByWeight "Type" "!=" "intro" -}}
			{{- if .Params.intermission -}}
				{{- partial "intermission.html" . -}}
			{{- else -}}
				{{- $autoNumber = add $autoNumber 1 -}}
				{{- partial "question.html" (dict "page" . "autoNumber" $autoNumber) -}}
			{{- end -}}
		{{- end -}}
		<script src="slidy/slidy.js" charset="utf-8"></script>
		<script src="quizcast/quizcast.js" charset="UTF-8"></script>
	</body>
</html>